
@font-face {
    font-family: 'Rubik Bold';
    src: url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Rubik', sans-serif;
}
